.container {
  background-color: rgb(254, 255, 190);
  margin: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  padding: 100px; 
}

.tip-calculator {
  width: 25vw;
  border: 1px solid black
}
@media(max-width: 640px) {
  .container {
    width: 75%;
    display: block;
    text-align: center;
    padding: 25px;
  }
  #worker-form {
    padding: 10px;
  }
}