.container {
  background-color: rgb(254, 255, 190);
  border: 1px solid black;
  padding: 100px; 
}
ul {
  display: inline-block;
}
.tip-calculator {
  padding: 1rem;
  width: 25vw;
  border: 1px solid black;
}
@media(max-width: 640px) {
  .container {
    width: 75%;
    display: block;
    text-align: center;
    padding: 25px;
  }
  #worker-form {
    padding: 10px;
  }
}