.container {
  background-color: rgb(254, 255, 190);
  display: grid;
  padding: 100px; 
}
button {
  color: black !important;
  font-weight: 700;
  text-align: center;
}

header {
  display: flex;
  background-color: rgb(255, 173, 65);
}
/* USER HANDLING */
.user-form {
  float: right;
}


/* TIP HANDLING */
.tip-calculator {
  padding: 1rem;
  width: 25vw;
  border: 1px solid black;
}

#calculator {
  width: 30vw;
  max-height: 30vh;
  overflow: scroll;
}
@media(max-width: 640px) {
  .container {
    width: 75%;
    display: block;
    text-align: center;
    padding: 25px;
  }
  #worker-form {
    padding: 10px;
  }
}