.container {
  background-color: rgb(254, 255, 190);
  border: 1px solid black;
  display: grid;
  padding: 100px; 
}
ul li {
  display: inline-block;
  padding: 0 10px;
}
button {
  width: 12vw !important;
}
.tip-calculator {
  padding: 1rem;
  width: 25vw;
  border: 1px solid black;
}

#calculator {
  width: 30vw;
  max-height: 30vh;
  overflow: scroll;
}
@media(max-width: 640px) {
  .container {
    width: 75%;
    display: block;
    text-align: center;
    padding: 25px;
  }
  #worker-form {
    padding: 10px;
  }
}